:root {
    --cor-de-fundo: #E80505;
    --verde: #FFFFFF;
    --branco: #FFFFFF;
    --botao-ativo: #BE0E05;
    --botao-inativo: rgba(190, 14, 5, 1);
    --texto-fundo: rgba(255, 255, 255, 1); 
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}





    @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

    
